.link{
    text-decoration: none;
    color: black;
    &:hover{
        color:red;
        font-weight: bold;
    }
}

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
}